.carouselCard .MuiMobileStepper-root {
  opacity: 0;
  transition: all ease 1000ms;
}

.carouselCard:hover .MuiMobileStepper-root {
  opacity: 1;
}

.carouselCard:hover .MuiMobileStepper-dotActive {
  background-color: #fff;
}
.carouselCard {
  margin-top: 20px;
}
.icon__heart :hover {
  color: rgb(233 30 99);
  transition: all 0.3s;
}
.icon__heart {
  color: white;
}
