.Card {
  width: 300px;
  height: 350px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 1px 10px 1px black;
}

.upper-container {
  height: 100px;
  background: linear-gradient(to left, #2d00f7, #ff0291);
}
.UserCard:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}
.image-container img {
  background: white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 5px;
  transform: translate(95px, 45px);
  border: 2px solid #8e00b9;
}

.lower-container {
  margin-top: 50px;

  background: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.lower-container h3 {
  text-align: center;
  font-weight: 900;
  font-size: 25px;
}
.lower-container h4 {
  margin-top: 10px;
  margin-left: 20px;
  font-weight: 550;
  color: rgb(53, 52, 52);
}
.btn button {
  margin: 1rem;
  color: #2f2d2e;
  font: bold;
  background-color: white;
  border: 2px solid #8e00b9;
  padding: 0.6rem;
  margin-top: 0;
  border-radius: 6px;
  transition-duration: 0.5s;
  animation: ease-in-out;
  font-weight: 700;
}
.btn {
  text-align: center;
  margin-top: 30px;
}

.btn button:hover {
  background: linear-gradient(to left, #2d00f7, #ff0291);
  transform: scale(1.1);
  border: none;
}
